.container{
    display: flex;
   
}

.placeholders
 {
  background-color: lightgrey;
  width: 230px;
  height: 270px;
  border: 5px solid black;
  margin-left: 15%;
  
}
.btn{
  margin-left: 35%;  
}